<table border="1">
  <tr>
    <th>id</th><th>title</th><th>body</th><th>author</th>
  </tr>
  <tr>
    <td>
      <%= @articles.first.id %>
    </td>
    <td>
      <%= @articles.first.title %>
    </td>
    <td>
      <%= @articles.first.body %>
    </td>
    <td>
      <%= @articles.first.author %>
    </td>
  </tr>
</table>
